@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background: #000;
  overflow: hidden;
}

a {
  -webkit-tap-highlight-color: transparent !important;
  outline: none !important;
}

/* Override "swiper" css */
.swiper {
    padding: 0 32px !important;
}

.swiper-slide {
    width: 200px !important;
}