@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base is used for shadcn theming */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

* {
  -webkit-tap-highlight-color: transparent !important;
  /* outline: none !important; */
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #666770;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666770;
}

/* Override "swiper" */
.swiper {
  padding: 0 17px !important;
}

.swiper-slide {
  width: 200px !important;
  padding: 10px 12px;
  border-radius: 0.3rem;
  margin: 0 !important;
}

.swiper-slide:hover {
  background-color: rgba(102, 103, 112, 0.438);
  transition: 0.5s all;
}

/* Override PTR (react-js-pull-to-refresh) */
#ptr-container {
  overflow: auto !important;
}
